* {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 300;
}
ul {
    margin-top: 0;
}
li {
    margin-bottom: 5px;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("pictures/princeton.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply; 
  }
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(62deg, #303841 0%, #c43800 100%);
    column-count: 1;
}
h1 {
    font-size: 3rem;
    color: #FF671F;
}
h2 {
    color: white;
}
h3 {
    text-align: center;
}
#welcome-line2 {
    font-size: 1.4rem;
    font-weight: 200;
    font-style: italic;
    color: #FF671F;
    
}

#navbar {
    width: 100%;
    height: 5vh;
    background-image: linear-gradient(62deg, #3a3d40 0%, rgb(100, 31.8, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.nav {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-size: 3vh;
  }

.project-title {
    text-decoration: none;

}
#projects-section-header {
    font: 3rem;
    margin: 3rem auto 6rem auto;
    border-bottom: 0.2rem solid white;
}
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-image {
    width: 100%;
    object-fit: cover;
    display: flex;
}
.project-name {
    font-size: 1rem;
    box-sizing: inherit;
    margin:0;
    padding: 1rem;
    color: white;

}


.text-container {
    background-image: linear-gradient(62deg, #000000 0%, #8b7400 100%);
    font-size: small;
    text-align: center;

}
.description-container {
    background-image: linear-gradient(62deg, #000000 0%, #702d03 100%);
    font-size: small;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

#contact {
    width: 100%;
    background-image: linear-gradient(62deg, #303841 0%, #c43800 100%);
    height:fit-content;
    
}
#big-contact-text {
    text-align: center;
}
#small-contact-text {
    text-align: center;
}
.contact-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    flex-wrap: wrap;
    text-decoration: none;
    text-align:center;
  }
  
  .contact-list a {
    margin-left:10px;
    margin-right:10px;

    display: inline-block;    
    text-decoration: none;
    color:white;
  }
  